body{
/*background:#f7f6f4;*/
background:#fff;
}
.grupo{
font-weight: bold;
background-repeat:no-repeat;
height:18px;
border-top: #0f83e1 1px solid;
background-image:url(../images/cab.gif);
padding-left: 10px;


}

.subgrupo td{
font-weight: bold;background-image:url(../images/4.jpg);height:15px;
border-top: #0f83e1 1px solid;
}

textarea{
font-size: 10px; color: #0c3253; font-family: verdana; width:900px;height:80px;
}

.titulo{
color:#3768bc; font-size:17px;font-weight: bold; 
}

.tittabla{
color:#3768bc; font-size:12px; font-weight:bold;
}

.ubicacion{
color:#3768bc;
}

.pie{
color:#ffffff; font-size:10px;
}

.pie2{

color:#3768bc; font-size:10px;

}

.rojo{
color:red;
}

td{
	font-size: 10px; color: #0c3253; font-family: verdana; /*border-color:#4070c2;*/
}

/*input{
	font-size: 10px; color: #0c3253; font-family: verdana;
}
*/
input {
font-size: 8pt;
font-family: arial;
border-style: solid;
border-width: 1px;
color: #5b6469;
border-color: #d5d8d9;
}

select{
	font-size: 10px; color: #0c3253; font-family: verdana;
}

table#tablainf  td {	
	/*font-size: 10px; color: #0c3253; font-family: verdana; border-color:#4070c2;*/
	font-size: 10px; color: #0c3253; font-family: verdana;
	border-right: #4070c2 1px solid; border-left: #4070c2 1px solid; border-top: #4070c2 1px solid; /*border-bottom:#4070c2 1px solid;*/
}

table#tablasup  td {	
	/*font-size: 10px; color: #0c3253; font-family: verdana; border-color:#4070c2;*/
	font-size: 10px; color: #0c3253; font-family: verdana;
	border-right: #4070c2 1px solid; border-left: #4070c2 1px solid; border-top: #4070c2 1px solid; /*border-bottom:#4070c2 1px solid;*/
}

table#tmenu  td {	
	/*font-size: 10px; color: #0c3253; font-family: verdana; border-color:#4070c2;*/
	font-size: 10px; color: #0c3253; font-family: verdana;
	border-right: #4070c2 1px solid; border-left: #4070c2 1px solid; border-top: #4070c2 1px solid; /*border-bottom:#4070c2 1px solid;*/
}

table#tablainf  th {	
	/*font-size: 10px; color: #0c3253; font-family: verdana; border-color:#4070c2;*/
	font-size: 10px; color: #0c3253; font-family: verdana;
	border-right: #4070c2 1px solid; border-left: #4070c2 1px solid; border-top: #4070c2 1px solid; border-bottom:#4070c2 1px solid;
}

table#tablasup  th {	
	/*font-size: 10px; color: #0c3253; font-family: verdana; border-color:#4070c2;*/
	font-size: 10px; color: #0c3253; font-family: verdana;
	border-right: #4070c2 1px solid; border-left: #4070c2 1px solid; border-top: #4070c2 1px solid; border-bottom:#4070c2 1px solid;
}

a:link, a:visited { text-decoration: none; color:#0c3253; }

a:hover { text-decoration: none; color:#999999 }

fieldset {border-color: #b6d0f8; border-style:solid; }

nomarco{border-color:#ffffff;}
.upper{
	text-transform:uppercase;}

div#indice{
	float:left;
}
div#cursos{
	width:400px;
	padding-left:5px;
}

/*input[type="checkbox"]{
display: block;   
    background: #eee;   
    color: #8dc63f; 


    }*/
	.boton{
        font-size:10px;
        font-family:verdana,helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
       }

