body{ font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;}
.login-page{ background: #d2d6de;} .logout{padding: 10px}
.login-box { width: 360px; margin: 7% auto;}
.login-box-body { background: #fff; padding: 20px; border-top: 0; color: #666;}
.form-control-feedback{ top: 0px !important} .hov_menu:hover, .hov_menu_li a.hov_menu:active { color: #000 !important}
.modal_content{position: relative; background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;
border: 1px solid #999;border: 1px solid rgba(0,0,0,.2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5); height: 465px}
.modal_headerr{ border-bottom: 1px solid #e5e5e5;} .back_vistamas{ background-color: #fff !important}
a.linkmenu{ color: #428bca !important} .cursor_menu{ cursor: pointer}